<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Meals App</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    </head>

    <body>
        <div id="food" v-cloak>
            <div class="jumbotron jumbotron-fluid">
                <!-- Application Title and tagline-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <h1 class="display-2">{{ appName }}</h1>
                            <p class="lead">App to search for meals</p>
                        </div>
                    </div>
                </div>
            </div>

            <div v-cloak class="container">
                <div class="row" style="margin-bottom: 3%;">
                    <input v-model='foodCategory' placeholder="Search a food category" class='form-control' />
                    <button @click="fetchFood(foodCategory)" class='btn btn-primary'>Submit</button>
                </div>
                <div class="row" style="margin-bottom: 3%;">
                    <input v-model='foodFetch' placeholder="Search a meal for more details" class='form-control' />
                    <button @click="fetchID(foodFetch)" class='btn btn-primary'>Submit</button>
                </div>
            </div>

            <div style="margin-left: 30%; margin-right: 20%;">
                <h1 v-if="foodsList" style="margin-bottom: 5%">
                    {{numberOfResults}} results for search "{{foodCategory}}"
                </h1>
                <ul v-cloak v-if="foodsList" class="list-unstyled column" >
                    <li v-for="food in foodsList" class='column' style="margin-bottom: 1%;">
                        <h2>Name: {{food.strMeal}}</h2>
                        <h5>ID: {{food.idMeal}}</h5>
                        <img v-bind:src=food.strMealThumb alt="Food pic" />
                        <hr />
                    </li>
                </ul>
            </div>

            <ul v-cloak v-if="foodItem" class="list-unstyled column" style="margin-left: 20%; margin-right: 20%;">
                <li v-for="item in foodItem" class='column' style="margin-bottom: 1%;">
                    <h2>Name: {{item.strMeal}}</h2>
                    <h3>Category: {{item.strCategory}}</h3>
                    <h3>Origin: {{item.strArea}}</h3>
                    <h5>ID: {{item.idMeal}}</h5>
                    <a v-if=item.strYoutube v-bind:href=item.strYoutube target='_blank'>See the YouTube tutorial</a><br/>
                    <a v-if=item.strSource v-bind:href=item.strSource target='_blank'>See the original source</a>
                    <p>{{item.strInstructions}}</p>
                    <img v-bind:src=item.strMealThumb alt="Food pic" />
                    <hr />
                </li>
            </ul>
        </div>

        <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
